@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&family=Roboto:ital,wght@1,300;1,400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: black;
}

#main-header{
    background: white;
}

.main-heading{
    color: red;
}

.my-blogs{
    background: cadetblue;
}

span{
    background-color: aquamarine;
}
