@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&family=Roboto:ital,wght@1,300;1,400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
}

header{
     background-color: #d0d6d5;
}
main{
    background-color: rgb(31, 111, 220);
}

.Secondary{
    color: crimson;
}

.highlight{
    background-color: burlywood;
}